/* Add custom styles here */

.flexible-image {
    width: auto;
    max-width: 100%;
    height: auto;
}

.navbar-brand img {
    max-height: 50px;
}

.custom-form .form-control {
    width: 300px;
}

.custom-block {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.account-table {
    border-collapse: collapse;
    width: 100%;
}

.account-table th, .account-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.account-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
